.footer-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin:  2rem ;
    background-color: #3333;
    padding: 1.5rem 0;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
}
.right{
    padding: 1rem;
    width: 30%;
}
.right img {
    padding: 10px 10px;
}
.middle {
    width: 30%;
}
.middle li {
    text-decoration: none;
}
.left {
    width: 30%;
    padding-right: 3rem;
}
.copyright  {
    bottom: 0;
    align-items: center;
    background-color: #495E57;
    padding: 10px 350px;
    
}
.copyright .p{
    align-items: center;
    justify-content: center;
}
@media screen and (max-width: 1040px) {
    .footer-container{
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-gap: 10px;
        flex-wrap: wrap;
        padding-left: 0;
        margin-left: 0;
    }
    .right{
        flex-basis: 100%;
        
        text-align: center;
    }
    .left{
        list-style: none;
        flex-basis: calc(50% - 2rem);
    }
    .middle{
        flex-basis: calc(50% - 2rem);
        list-style: none;
        
    }
    .copyright{
        padding: 10px 100px;
        
    }
}