.top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0rem;
    margin-bottom: 0rem;
    padding: 40px 30%;
}
.top h1 {
  font-weight: extra-bold;
  font-family: 'Karla', sans-serif;

}
.top button {
    align-items: center;
    color: black;
    background-color: #F4CE14;
    border-radius: 5px;
    padding: 10px 20px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    font-family: 'Karla', sans-serif;
  }

  
.top .button:hover {
    opacity: 0.5;
  }
  @media  only screen and (max-width: 1040px){
    .top h1{
      font-weight: extra-bold;
      margin-top: 0;
      padding-top: 0px;
      padding-bottom: 0;
      margin-bottom: 0;
      text-align: center;

    }

  }