.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 30px;
  }
  
  nav {
    display: flex;
    justify-content: center;
  }
  
  ul {
    list-style: none;
    display: flex;
  }
  
  li {
    margin: 0 20px;
  }
  
  a {
    text-decoration: none;
    color: black;
  }
  
  .hamburger {
    display: none;
    cursor: pointer;
  }
  
  .line {
    width: 30px;
    height: 3px;
    margin: 5px 0;
    background-color: black;
    transition: all 0.3s ease;
  }
  
  .line1 {
    transform: translateY(-8px);
  }
  
  .line2 {
    transform: translateY(0);
  }
  
  .line3 {
    transform: translateY(8px);
  }
  
  .open.line1 {
    transform: translateY(0) rotate(45deg);
  }
  
  .open.line2 {
    opacity: 0;
  }
  
  .open.line3 {
    transform: translateY(0) rotate(-45deg);
  }
  
  @media only screen and (max-width: 768px) {
    .container {
      flex-direction: column;
      height: auto;
      padding: 20px;
    }
  
    nav {
      display: none;
    }
  
    .hamburger {
      display: block;
    }
  
    .open {
      display: block;
      width: 100%;
    }
  
    .line {
      background-color: white;
    }
  
    .hamburger .open.line1 {
      transform: translateY
    }
}  